<div class="flex items-center justify-between m-2 w-100">
    <div class="flex items-center w-1/4 gap-1">
        <span class="material-symbols-outlined text-6xl bg-primaryGradient rounded-lg shadow-lg shadow-primaryGradient-500/50">shopping_bag</span>
        <span class="text-primaryGradient text-3xl font-extrabold">Brand</span>
    </div>
    <div class="w-1/2 bg-green-200 d-flex flex-row">
        <input #inputRef type="text" class="p-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500 w-100 text-2xl" placeholder="Search...">
        <button class="bg-primaryGradient px-2">Search</button>
    </div>
    <div class="w-1/4 justify-between">
        <ul class="flex gap-8 justify-around">
            <li class="flex align-middle flex-col">
                <span class="material-symbols-outlined text-3xl">person</span>
                <span>Profile</span>
            </li>
            <li class="flex align-middle flex-col">
                <span class="material-symbols-outlined text-3xl">mark_unread_chat_alt</span>
                <span>Message</span>
            </li>
            <li class="flex align-middle flex-col">
                <span class="material-symbols-outlined text-3xl">favorite</span>
                <span>Orders</span>
            </li>
            <li class="flex align-middle flex-col">
                <span class="material-symbols-outlined text-3xl">shopping_cart</span>
                <span>Cart</span>
            </li>

        </ul>
    </div>
</div>