<div class="w-100 h-24 min-h-0 md:min-h-full flex flex-col items-center justify-cente mt-2">
    <div class="flex flex-row items-center justify-center w-50">
            <input type="text" placeholder="Search"  class="py-3 px-7 w-100 border-2 border-black rounded-md text-lg">
            <button class="rounded-md bg-primary p-3 border-2" >Search</button>
    </div>
</div>
<div class="">
    <ul class="list-image-[url(checkmark.png)] flex flex-row items-center justify-around flex-wrap">
        <li *ngFor="let header of listHeaders">
            <a href="#">{{ header }}</a>
        </li>
      </ul>
</div>